#footer{

  background-color: black;
  width: 100%;
  padding: 6rem 2rem;
}

#footer .wrapper{
  text-align: center;
  width: 100%;
  max-width: 60rem;
  margin: auto;
}

#footer .logo-container img{
  display: block;
  width: 20rem;
  text-align: center;
  margin: 2rem auto;
  max-width: 5rem;
}

#footer .footer-menu p{
  color: white;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 3px;

}

#footer .legal-line{
  color: rgba(255, 255, 255, 0.63);
  font-size: 0.6rem;
  letter-spacing: 1px;
  font-weight: 100;
}

