#privacy {
  padding: 4rem 2rem;
  background-color: rgb(217, 217, 217);
  min-height: 100vh;
}


#privacy h1, #privacy h2{
  font-size: 2rem;
  margin-bottom: 2rem;
}

#privacy h3{
  font-size: 1rem;
  margin-top: 2rem;
  font-weight: 800;
}

#privacy p{
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

